
<div>
	<div class='add-header'>
		<a href='#' class='fanhui'>返回</a>
		<a href='#' class='glyphicon glyphicon-ok'></a>
	</div>
	<form role="form">
  <div class="form-group">
    <label for="exampleInputEmail1">title</label>
    <input type="text" class="form-control" ng-model='title'>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">contant</label>
    <textarea class="form-control" ng-model='content'></textarea>
  </div>
  <div class='tag'>
    <span class="label label-default">高兴</span>
    <span class="label label-default">难过</span>
    <span class="label label-default">苦涩</span>
    <span class="label label-default">艰苦</span>
    <span class="label label-default">奋斗</span>
    <span class="label label-default">私密</span>
    <span class="label label-default">公开</span>
    <span class="label label-default">晴朗</span>
  </div>
  <p></p>
  <button class="btn btn-default" ng-click='push()'>add</button>
</form>
</div>