<div>
	<div class='add-header'>
		<a href='#' class='fanhui'>返回</a>
		<a href='#' class='glyphicon glyphicon-ok'></a>
	</div>
	<form role="form">
  <div class="form-group">
    <label for="exampleInputEmail1">title</label>
    <input type="text" class="form-control" ng-model='zy1.title'>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">contant</label>
    <textarea class="form-control" ng-model='zy1.content'></textarea>
  </div>
  <button class="btn btn-default" ng-click='save()'>adit</button>
</form>
</div>