<div>
	<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Somenote</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-left" role="search">
        <p>所有日记</p>
        <p>标签</p>
        <p>查找</p>
        <p>修改密码</p>
        <p>退出</p>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading"  id="headingThree">
      <h4 class="panel-title">
          日记标题
      </h4>
    </div>
   <div>时间</div>
   <div>内容</div>
  </div>
</div>

</div>